body {
    background-color: antiquewhite;
    text-align: center;
}

div {
    margin-top: 15px;
}

.imagesection {
    justify-content: center;
    display: flex;
}

.sectionstyle {
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}

img {
    height: 300px;
    width: 500px;
}
